<div id="hero-background">
  <div class="jumbotron" id="thanks">
    <div class="center">
      <h1>Thanks</h1>
    </div>
  </div>
</div>

<div class="container">
	<p class="lead">Your feedback on the report has been submitted!</p>
	<p>If you have requested more information, we will be in touch soon and keep you informed about any discoveries we make.</p>
	<br/>
	<p>The Peekaboo Team</p>
	
	<br/>
</div>