<div id="hero-background">
    <div class="container" id="hero">
    	<div class="row">
    		<div class="col-md-6 center">
    			<br/>
          <div class="flex-video widescreen"><iframe src="http://www.youtube.com/embed/2fvWwQk68vY?rel=0" frameborder="0" allowfullscreen=""></iframe></div>
    		</div>
    		<div class="col-md-6">
    			<h1>Understand your baby today</h1>
    			<p>We analyse your BabyConnect data and email you a unique report about your baby.</p>
    			<form role="form" action="/thanks" method="POST" onsubmit="return validateForm()" >
				  <div class="form-group">
				    <input type="text" class="form-control" placeholder="Your name" name="name">
				  </div>
				  <div class="form-group">
				  	<input type="text" class="form-control" placeholder="Your baby's name" name="baby-name">
				  </div>
				  <div class="form-group">
				    <input type="email" class="form-control" placeholder="Email address" name="email">
				  </div>
				  <div class="form-group">
					  <small>We will never pass your information to anyone else</small>
				  </div>
				  <button type="submit" class="btn btn-default">Analyse my baby's data for free</button>
				</form>
    		</div>
    	</div>
    </div>
</div>

<div class="container" id="how-it-works">
  <h1>How it works</h1>
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <div class="my-icon-frame">
        <i class="icon-mobile-phone icon-5"></i>
      </div>
      <p>You send us your data collected in the BabyConnect app (we should let you how, it's very easy!).</p>
    </div>
    <div class="col-md-4">
      <div class="my-icon-frame">
        <img src="img/report.png"/>
      </div>
      <p>We use clever maths to study your data carefully and combine it with existing datasets to find hidden patterns in your baby's data which we send to you in a clear report.</p>
    </div>
    <div class="col-md-4">
      <div class="my-icon-frame">
      <br/>
        <i class="icon-envelope icon-4"></i>
      </div>
      <p>We send you a clear concise report highlighting any interesting discoveries and patterns we have discovered in your baby's routine.</p>
    </div>
  </div>
    
</div>
