<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Peekaboo</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Peekaboo</a>
        </div>
      </div>
    </div>

	<div id="hero-background">
	    <div class="container" id="hero">
	    	<div class="row">
	    		<div class="col-md-6 center">
	    			<br/>
            <div class="flex-video widescreen"><iframe src="http://www.youtube.com/embed/2fvWwQk68vY?rel=0" frameborder="0" allowfullscreen=""></iframe></div>
	    		</div>
	    		<div class="col-md-6">
	    			<h1>Understand your baby today</h1>
	    			<p>We analyse your BabyConnect data and email you a unique report about your baby.</p>
	    			<form role="form" action="/thanks" method="POST" onsubmit="return validateForm()" >
					  <div class="form-group">
					    <input type="text" class="form-control" placeholder="Your name" name="name">
					  </div>
					  <div class="form-group">
					  	<input type="text" class="form-control" placeholder="Your baby's name" name="baby-name">
					  </div>
					  <div class="form-group">
					    <input type="email" class="form-control" placeholder="Email address" name="email">
					  </div>
					  <div class="form-group">
						  <small>We will never pass your information to anyone else</small>
					  </div>
					  <button type="submit" class="btn btn-default">Analyse my baby's data for free</button>
					</form>
	    		</div>
	    	</div>
	    </div>
	</div>

    <div class="container" id="how-it-works">
      <h1>How it works</h1>
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <div class="my-icon-frame">
            <i class="icon-mobile-phone icon-5"></i>
          </div>
          <p>You send us your data collected in the BabyConnect app (we should you how, it's very easy!).</p>
        </div>
        <div class="col-md-4">
          <div class="my-icon-frame">
            <img src="img/report.png"/>
          </div>
          <p>We use clever maths to study your data carefully and combine it with existing datasets to find hidden patterns in your baby's data which we send to you in a clear report</p>
        </div>
        <div class="col-md-4">
          <div class="my-icon-frame">
          <br/>
            <i class="icon-envelope icon-4"></i>
          </div>
          <p>We send you a clear concise report highighting any interesting discoveries and patterns we have discovered in your baby's routine.</p>
        </div>
      </div>
      <br/>
      <h1 id="how-to">Getting Your Data Out of BabyConnect</h1>
      <p>Getting data out of your BabyConnect app is pretty simple. Note, your iPhone needs to be able to send and receive emails.</p>
      <div class="row">
        <div class="col-md-4">
			<div class="center">
			  <img src="img/howto1.png" alt="..." class="how-to-diagram">
			</div>
			<p>Open your BabyConnect app and press the <strong>Envelope icon</strong> at the bottom of the screen.</p>
        </div>
        <div class="col-md-4">
	    	<div class="center">
	          <img src="img/howto2.png" alt="..." class="how-to-diagram">
	    	</div>
	    	<p>Select the date range of data you would like to provide us with.</p> <p>Choose the format to be <strong>CSV</strong>. Finally when done, press <strong>Generate Email</strong>.</p>
        </div>
        <div class="col-md-4">
			<div class="center">
			  <img src="img/howto3.png" alt="..." class="how-to-diagram">
			</div>
			<p>In the new email screen, send your email to <a href="mailto:#">labs@peekaboo.com</a></p> <p>We will email you to confirm that we have received data from this end.</p>
        </div>     
      </div>

      <hr>

      <footer>
        <p>&copy; Peekaboo 2013</p>
      </footer>
    </div> <!-- /container -->        
    
    	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/holder.js"></script>
        <script src="js/vendor/jquery.scrollTo.min.js"></script>
        <script src="js/main.js"></script>

		<!-- Google Analytics -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
