<div id="hero-background">
  <div class="jumbotron" id="thanks">
    <div class="center">
      <h1>Thanks!</h1>
    </div>
  </div>
</div>

<div class="container">      
  <div class="center">
  <p class="lead">We're nearly ready to begin!</p>
  <p>In order to get to work we need your BabyConnect data.</p>
  </div>
  <h1 id="how-to">Getting Your Data Out of BabyConnect</h1>
  <p>Sending us your data out of your BabyConnect app is very simple and requires <span style="color:green;">less than 5 taps</span>. Note, your iPhone needs to be able to send and receive emails.</p>
  <br/>
<div class="row">
  <div class="col-md-4">
    <div class="center">
      <img src="img/howto1.png" alt="..." class="how-to-diagram">
    </div>
    <p>Open your BabyConnect app and press the <strong>Envelope icon</strong> at the bottom of the screen.</p>
  </div>
  <div class="col-md-4">
    <div class="center">
      <img src="img/howto2.png" alt="..." class="how-to-diagram">
    </div>
    <p>Select the date range of data you would like to provide us with.</p> <p>Choose the format to be <strong>CSV</strong>. Finally when done, press <strong>Generate Email</strong>.</p>
  </div>
  <div class="col-md-4">
    <div class="center">
      <img src="img/howto3.png" alt="..." class="how-to-diagram">
    </div>
    <p>In the new email screen, send your email to <a href="mailto:#">labs@peekaboo.com</a>. Please include your name in the email if you are sending it from a different email address to the one you registered with.</p> <p>We will email you to confirm that we have received data from this end.</p>
  </div>     
</div>